In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = ["Thor eating pizza, Loki is eating pizza, Ironman ate pizza already",
    "Apple is announcing new iphone tomorrow",
    "Tesla is announcing new model-3 tomorrow",
    "Google is announcing new pixel-6 tomorrow",
    "Microsoft is announcing new surface tomorrow",
    "Amazon is announcing new eco-dot tomorrow",
    "I am eating biryani and you are eating grapes"]

In [7]:
v = TfidfVectorizer()
v.fit(corpus)
transformed_output= v.fit_transform(corpus)
print(v.vocabulary_)

{'thor': 25, 'eating': 10, 'pizza': 22, 'loki': 17, 'is': 16, 'ironman': 15, 'ate': 7, 'already': 0, 'apple': 5, 'announcing': 4, 'new': 20, 'iphone': 14, 'tomorrow': 26, 'tesla': 24, 'model': 19, 'google': 12, 'pixel': 21, 'microsoft': 18, 'surface': 23, 'amazon': 2, 'eco': 11, 'dot': 9, 'am': 1, 'biryani': 8, 'and': 3, 'you': 27, 'are': 6, 'grapes': 13}

In [4]:
all_feature_names = v.get_feature_names_out() # for ascending order of index of words

for word in all_feature_names:
    indx = v.vocabulary_.get(word)
    print(f"{word} {v.idf_[indx]}")

already 2.386294361119891
am 2.386294361119891
amazon 2.386294361119891
and 2.386294361119891
announcing 1.2876820724517808
apple 2.386294361119891
are 2.386294361119891
ate 2.386294361119891
biryani 2.386294361119891
dot 2.386294361119891
eating 1.9808292530117262
eco 2.386294361119891
google 2.386294361119891
grapes 2.386294361119891
iphone 2.386294361119891
ironman 2.386294361119891
is 1.1335313926245225
loki 2.386294361119891
microsoft 2.386294361119891
model 2.386294361119891
new 1.2876820724517808
pixel 2.386294361119891
pizza 2.386294361119891
surface 2.386294361119891
tesla 2.386294361119891
thor 2.386294361119891
tomorrow 1.2876820724517808
you 2.386294361119891

In [5]:
corpus[:2]

['Thor eating pizza, Loki is eating pizza, Ironman ate pizza already',
 'Apple is announcing new iphone tomorrow']

In [9]:
transformed_output.toarray()[:2]

array([[0.24266547, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24266547, 0.        , 0.        ,
        0.40286636, 0.        , 0.        , 0.        , 0.        ,
        0.24266547, 0.11527033, 0.24266547, 0.        , 0.        ,
        0.        , 0.        , 0.72799642, 0.        , 0.        ,
        0.24266547, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.30652086,
        0.5680354 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5680354 ,
        0.        , 0.26982671, 0.        , 0.        , 0.        ,
        0.30652086, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.30652086, 0.        ]])

In [41]:
#ecommerce text classification
import pandas as pd 
df=pd.read_csv('bbctext.csv.csv')
print(df.shape)
df.head()

(2225, 2)

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [42]:
df.category.value_counts()

category
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64

In [45]:
df['label_num']=df.category.map({'sport':0,
                                 'business':1,
'politics':2,
'tech':3,
'entertainment':4                          })
df.head()

        category                                               text  label_num
0           tech  tv future in the hands of viewers with home th...          3
1       business  worldcom boss  left books alone  former worldc...          1
2          sport  tigers wary of farrell  gamble  leicester say ...          0
3          sport  yeading face newcastle in fa cup premiership s...          0
4  entertainment  ocean s twelve raids box office ocean s twelve...          4

In [48]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(
    df.text,
    df.label_num,
    test_size =0.2,
    random_state = 2023,
    stratify= df.label_num
)

In [49]:
print("Shape of x train:", X_train.shape)
print("Shape of y train", y_train.shape)

Shape of x train: (1780,)
Shape of y train (1780,)

In [55]:
y_train.value_counts()

label_num
0    409
1    408
2    333
3    321
4    309
Name: count, dtype: int64

In [56]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

#1. create a pipeline object
clf = Pipeline([
     ('vectorizer_tfidf',TfidfVectorizer()),    
     ('KNN', KNeighborsClassifier())         
])

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.98      0.96       102
           1       0.98      0.91      0.94       102
           2       0.83      0.94      0.88        84
           3       0.93      0.94      0.93        80
           4       1.00      0.88      0.94        77

    accuracy                           0.93       445
   macro avg       0.94      0.93      0.93       445
weighted avg       0.94      0.93      0.93       445

In [57]:
X_test[:5]

1169    pakistani women  must not hide  hiding women a...
1235    us to probe airline travel chaos the us govern...
1978    venezuela reviews foreign deals venezuela is t...
692     uk troops on ivory coast standby downing stree...
97      ireland win eclipses refereeing  errors  the i...
Name: text, dtype: object

In [58]:
y_test[:5]

1169    2
1235    1
1978    1
692     2
97      0
Name: label_num, dtype: int64

In [59]:
from sklearn.naive_bayes import MultinomialNB


#1. create a pipeline object
clf = Pipeline([
     ('vectorizer_tfidf',TfidfVectorizer()),    
     ('Multi NB', MultinomialNB())         
])

#2. fit with X_train and y_train
clf.fit(X_train, y_train)


#3. get the predictions for X_test and store it in y_pred
y_pred = clf.predict(X_test)


#4. print the classfication report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      1.00      0.95       102
           1       0.92      0.95      0.94       102
           2       0.96      0.93      0.95        84
           3       0.94      0.95      0.94        80
           4       1.00      0.84      0.92        77

    accuracy                           0.94       445
   macro avg       0.95      0.93      0.94       445
weighted avg       0.94      0.94      0.94       445

In [60]:
from sklearn.ensemble import RandomForestClassifier

#1. create a pipeline object
clf = Pipeline([
     ('vectorizer_tfidf',TfidfVectorizer()),        #using the ngram_range parameter 
     ('Random Forest', RandomForestClassifier())         
])

#2. fit with X_train and y_train
clf.fit(X_train, y_train)


#3. get the predictions for X_test and store it in y_pred
y_pred = clf.predict(X_test)


#4. print the classfication report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      1.00      0.96       102
           1       0.88      0.95      0.92       102
           2       0.96      0.90      0.93        84
           3       0.97      0.91      0.94        80
           4       1.00      0.91      0.95        77

    accuracy                           0.94       445
   macro avg       0.95      0.94      0.94       445
weighted avg       0.94      0.94      0.94       445